.header-page {
    border: 2px solid black;
    width:auto;
    height:200px;
}

.header-menu {
    width:auto;
    height:100px;
    display: flex;
    justify-content: space-around;
    max-width: 100%;

}

.header-menu ul li {
    align-items: center;
    padding: 10px;
    margin:10px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    list-style-type: none;
    float: left;
}

.header-menu ul li:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
    background-color: yellowgreen;
    border-radius: 10px;
}

.header-menu ul li a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
}


.logo img {
    width:auto;
    height:100px;
    border: 1px solid black;
    max-width: 20%;
    box-sizing: border-box;
    margin-top: 15px;
}

.main-image {
    height: 600px;
    width: 100%;
    max-width: 100%;

}

.advantages-container {
    display: flex;
    justify-content: center;
}

.advantages {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.advantages-items {
    width: 30%;
    padding: 15px;
} 

.advantages-items:hover {
    border: 3px dashed yellowgreen;
    cursor: pointer;
    border-radius: 10px;
}

.products {
    width: 270px;
    height: 180px;
}


.form {
    display: block;
    width: 20%;
    height: 500px;;
    background-color: crimson;
    border: 1px solid black;
    float: right;
    margin-top: -502px;
    font-size: 23px;
}

.form h2 {
    text-align: center;
    color: floralwhite;
    font-family: 'Times New Roman', Times, serif;
}

.form .block-1, .block-2, .block-3 {

    width: auto;
    height: auto;
}

.form .block-1 {
    width: auto;
    height: 100px;
}

.form .block-2 input {
    margin: auto;
}

.footer-menu {
    width:auto;
    height:auto;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    background-color: black;

}

.footer-menu ul li {
    align-items: center;
    padding: 10px;
    margin:10px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    list-style-type: none;
    float: left;
}

.footer-menu ul li a {
    text-decoration: none;
    font-size: 18px;
}

.footer-menu ul li a:hover {
    border-bottom: 1px solid white;
    color: springgreen;
}

.logo-2 img {
    width:auto;
    height:70px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;
    
}


.footer-social {
    margin-top:40px;
}


.footer-social img{
    margin-left: 10px;
    margin-bottom: 10px;
}
/*                                                           registration.html                                           */

#registration-info {
    display: block;
    width: 90%;
    height: 700px;
    background-color: bisque;
    border: 2px solid black;
    margin: auto;
    
}

#registration-info h2{
    text-align: center;
}

#registration-field {
    display: block;
    width: 80%;
    height: 85%;
    background-color: aquamarine;
    border: 1px solid black;
    margin: auto;
}

#fio, #sex, #contact-info, #birthday-date, #favorite-products {
    width: 80%;
    float: left;
    display: block;
}

#submit-button {
    float: left;
    display: block;
    margin-top: 140px;
    margin-left: auto;
}


/*
@media screen and (max-width 768px) {              //Медиа-запрос для маленьких экранов
    .advantages-items {
        width: 45%;
    }
}
*/